# Игнорирование скомпилированных бинарных файлов
/build/
/deploy/
/coverage/
/temp/

# Игнорирование временных файлов редакторов и ОС
*.swp
*.swo
*~
*.tmp
*.log

# Игнорирование файлов конфигурации IDE
.vscode/
.idea/
*.iml

# Игнорирование файлов конфигурации системы сборки
Makefile.in
autom4te.cache/
config.log
config.status
configure

# Игнорирование файлов, создаваемых утилитой cscope
cscope.*
tags

# Игнорирование файлов, создаваемых утилитой ctags
*.tags

# Игнорирование файлов, создаваемых утилитой gcov
*.gcda
*.gcno
